<div class="row">
    <div class="col-md-4" *ngFor="let developer of developers; let i = index">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="developer.profilePicUrl" [alt]="developer.name">
            <div class="card-body text-center">
                <h5 class="card-title">{{developer.name}}</h5>
                <p class="card-text">{{developer.description}}</p>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-dark" [routerLink]="['/developer', i]">Details</button>
                        <button class="btn btn-primary" [routerLink]="['/edit', i]">Edit</button>
                        <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>